<div class="thread-button user">By {{username}}</div>
<div class="thread-button edit"><a href='{{route}}/threads/{{id}}/edit'>Edit</a></div><br>
<div class="thread-button title"><a href='{{route}}/threads/{{id}}'>{{title}}</a></div>
<div class="thread-content">{{content}}</div>
