<div class="thread-button user">By {{username}}</div>
<div class="thread-button edit"><a href='{{route}}/threads/{{id}}/edit'>Edit</a></div><br>
<a href='{{route}}/{{id}}'>{{title}}</a>
<div class="thread-content">{{content}}</div>
